.ticket-card {
  border: 2px solid #c39bd3;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.ticket-card:hover {
  box-shadow: 0px 14px 34px rgba(124, 137, 247, 0.4);
}

.ticket-card h5 {
  margin: 50px;
}
