.title {
  display: flex;
  align-items: center;

  width: fit-content;

  padding: 2.2vh 0;

  font-size: 4vh;
  font-weight: 700;

  background-image: linear-gradient(135deg, #f68ab2, #00adfd);
  background-clip: text;
  color: transparent;
}
