.background-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Place the background behind other content */
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink;
}

.purple {
  width: 200px;
  height: 200px;
  background-color: #9b59b6;
  animation-duration: 5s;
}

.blue {
  width: 200px;
  height: 200px;
  background-color: #8edbff;
  animation-duration: 7s;
}

.pink {
  width: 200px;
  height: 200px;
  background-color: #ffd8e6;
  animation-duration: 9s;
}

@keyframes blink {
  0%,
  100% {
    transform: translate(
      calc(100vw * var(--random-x)),
      calc(100vh * var(--random-y))
    );
    opacity: 0; /* Set opacity to 0 to make circles disappear */
  }
  50% {
    transform: translate(
      calc(100vw * var(--random-x)),
      calc(100vh * var(--random-y))
    );
    opacity: 0.5; /* Set opacity to 1 to make circles appear */
  }
}
