.wallet-element {
  cursor: pointer;
  padding: 17px 37.5px;
  border-radius: 20px;

  display: grid;
  justify-items: center;
  align-items: center;

  margin: 10px;
}

.wallet-element:hover {
  background-color: #e9edf9;
}
