.tab {
  width: 100%;
  height: 6%;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}

.event-page {
  width: 100%;
  height: 94%; /* because tab takes 8% */

  box-sizing: border-box;
}

.event-page-title {
  padding: 1vh 0;

  display: flex;
  align-items: center;
}

.event-page-title h1 {
  padding-right: 1vw;

  font-size: 4vh;
  font-weight: 700;
}

.event-page-content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
}

.event-info {
  width: 80%;
  height: 55vh;
  box-sizing: border-box;
}

.event-info-image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 100%;

  border: 2px solid #dbdbe7;
  border-radius: 10px;
}

.event-info-image img,
.event-info-image svg {
  width: 100%;
  height: 100%;

  border-radius: 8px;
}

.event-info-card {
  width: 30%;
  height: 100%;

  padding: 0 0 0 1vw;
}

.event-info-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.event-info-description {
  width: 100%;

  padding: 1vh 0 1vh 0;
}

.buttons {
  width: 20%;

  padding-left: 1.2vw;
}

.button {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 2vh;
}

.button button {
  width: 100%;

  font-size: 2.6vh;
  font-weight: 600;

  white-space: nowrap;

  padding: 3vh 1.2vw;

  border-radius: 1.1vh;
}
