.tab {
  width: 100%;
  height: 6%;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}

.event-page {
  width: 100%;
  height: 94%; /* because tab takes 8% */

  box-sizing: border-box;
}

.event-page-title {
  display: flex;
  align-items: center;
}
.event-page-title div {
  margin-right: 1vw;
}

.event-page-content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
}

.event-info {
  width: 70%;
  box-sizing: border-box;
}

.event-info-image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;

  border: 2px solid #dbdbe7;
  border-radius: 10px;
}

.event-info-image img {
  width: 100%;
  height: 100%;
}

.event-card {
  width: 30%;

  padding: 0 3vw;
}

.button {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 2vh;
}

.button button {
  width: 100%;

  font-size: 2.6vh;
  font-weight: 600;

  white-space: nowrap;

  padding: 1.4vh 1.2vw;
  margin: 0 1vw;

  border-radius: 1.1vh;
}
