.event-page {
  width: 100%;
  height: 92%; /* because back button takes 8% */
  box-sizing: border-box;
}

.event-page-content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
}

.event-info {
  width: 50%;
  box-sizing: border-box;
}

.event-info h4 {
  padding: 1vh 0vw;

  font-size: 2vh;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.event-info-description {
  height: 30vh;

  border: 2px solid #dbdbe7;
  border-radius: 10px;

  padding: 1vh 1.5vw;

  font-size: 2.5vh;
  font-weight: 700;

  overflow-y: scroll;
  text-overflow: ellipsis;
}

.event-card {
  width: 30%;

  margin-left: auto;
}

.back-button {
  display: flex;
  align-items: center;

  margin-left: 3.4vw;

  height: 8%;
  width: fit-content;
}

.back-button:hover {
  cursor: pointer;
}

.back-button img {
  height: 45%;
}

.back-button p {
  font-size: 2.8vh;
  font-weight: 700;

  padding-left: 0.3vw;
}
