.container {
  width: 100%;
  height: 100%;
}

.event-page {
  width: 100%;
  height: 92%; /* because tab takes 8% */
  box-sizing: border-box;
}

.event-page-title {
  cursor: pointer;
}

.event-page-content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
}

.event-info {
  width: 50%;
  box-sizing: border-box;
}

.event-info-image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 30vh;

  border: 2px solid #dbdbe7;
  border-radius: 10px;

  cursor: pointer;
}

.event-info-image img {
  width: 100%;
  height: 100%;
}

.event-info-title {
  display: flex;
  align-items: center;
}

.event-info-title h4 {
  padding: 1vh 0vw;

  font-size: 2vh;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.event-info-title img {
  height: 3vh;

  margin-left: auto;

  cursor: pointer;
}

.event-info-description {
  height: 30vh;

  border: 2px solid #dbdbe7;
  border-radius: 10px;

  padding: 1vh 1.5vw;

  font-size: 2.5vh;
  font-weight: 700;

  overflow-y: scroll;
  text-overflow: ellipsis;
}

.event-card {
  width: 30%;

  margin-left: auto;
}

.tab {
  width: 100%;
  height: 8%;

  display: flex;
  align-items: center;

  padding: 0 3.4vw;

  box-sizing: border-box;
}

.delete-button {
  margin-left: auto;

  font-size: 2vh;
  font-weight: 900;

  padding: 1.4vh 1.2vw;
  border-radius: 1.1vh;
}

.back-button {
  display: flex;
  align-items: center;

  height: 100%;
  width: fit-content;

  cursor: pointer;
}

.back-button img {
  height: 45%;
}

.back-button p {
  font-size: 2.8vh;
  font-weight: 700;

  padding-left: 0.3vw;
}
