.back-button {
  display: flex;
  align-items: center;

  margin-left: 3.4vw;

  height: 8%;
  width: fit-content;
}

.back-button:hover {
  cursor: pointer;
}

.back-button img {
  height: 45%;
}

.back-button p {
  font-size: 2.8vh;
  font-weight: 700;

  padding-left: 0.3vw;
}
