.back-button {
  display: flex;
  align-items: center;

  height: 100%;
  width: fit-content;

  cursor: pointer;

  opacity: 0.6;
  transition: 0.3s;
}

.back-button:hover {
  opacity: 1;
}

.back-button p {
  font-size: 2.8vh;
  font-weight: 700;

  padding-left: 0.3vw;
}
