.wallet-element {
  width: fit-content;
  align-items: center;
  cursor: pointer;
  padding: 17px 37.5px;
  border-radius: 20px;

  margin: 10px;

  font-size: 18px;
  font-weight: 600;
}

.wallet-element:hover {
  background-color: #e9edf9;
}
