.ticket-card {
  border: 2px solid #c39bd3;
  border-radius: 10px;

  margin: 20px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  height: fit-content;
}

.ticket-card:hover {
  box-shadow: 0px 14px 34px rgba(124, 137, 247, 0.4);
}

.ticket-card img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 250px;
}

.ticket-card-info {
  display: flex;
  flex-direction: column;

  padding: 10px 10px;

  width: 100%;
  box-sizing: border-box;

  background: linear-gradient(135deg, #8edbff, #ffffff 35% 65%, #ffd8e6);
  border-radius: 0 0 8px 8px;
}

.ticket-card-info h3 {
  margin: 0;

  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
}

.ticket-card-info h4 {
  margin: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.ticket-card-info-date {
  display: flex;

  margin-top: 20px;
}

.ticket-card-info-date-data {
  padding-right: 50px;
}

.ticket-card-info-venue {
  margin-top: 20px;
}
