.ticket-card {
  border-radius: 1.1vh;

  margin: 1.5vh 1.3vw;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}

.ticket-card:hover {
  box-shadow: 0px 10px 20px rgba(124, 137, 247, 0.6);
}

.ticket-card img {
  border-radius: 0.8vh 0.8vh 0 0;

  width: 100%;
  height: 35vh;
}

.ticket-card-info {
  display: flex;
  flex-direction: column;

  padding: 2vh 1vw;

  width: 100%;
  box-sizing: border-box;

  background: linear-gradient(135deg, #8edbff, #ffffff 35% 65%, #ffd8e6);
  border-radius: 0 0 0.8vh 0.8vh;
}

.ticket-card-info h3 {
  font-size: 2.5vh;

  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
}

.ticket-card-info h4 {
  font-size: 2vh;
  font-weight: 500;

  color: rgba(0, 0, 0, 0.4);
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
}

.ticket-card-info-element {
  margin-top: 1vh;
}

.ticket-card-info-element-container {
  display: flex;
}

.ticket-card-info-element-container-item {
  display: flex;
  padding-right: 1.5vw;
}
