.ticket-card {
  background-color: white;

  border: 2px solid #dbdbe7;
  border-radius: 10px;

  box-shadow: 0px 14px 34px rgba(124, 137, 247, 0.4);

  width: 500px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-card img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 250px;
}

.ticket-card-info {
  display: flex;
  flex-direction: column;

  padding: 10px 10px;

  width: 100%;
  box-sizing: border-box;

  background: linear-gradient(135deg, #ffd8e6, #ffffff 35% 65%, #8edbff);
  border-radius: 0 0 8px 8px;
}

.ticket-card-info h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket-card-info h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket-card-info h4 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.ticket-card-info-title {
  width: 100%;
  align-self: center;
}

.ticket-card-info-date-location {
  display: flex;

  margin-top: 20px;
}

.ticket-card-info-date-location-data {
  padding-right: 50px;
}

.ticket-card-info-url {
  margin-top: 20px;
}

.ticket-card-info-url a {
  color: inherit;
}

.ticket-card-info-id {
  margin-top: 20px;

  width: 50%;
}

.ticket-card-info-description {
  margin-top: 20px;
}

.ticket-card-info-description p {
  font-size: 18px;
  font-weight: 500;

  padding: 20px;

  border: 2px solid #e6ecf0;
  border-radius: 10px;
}

.ticket-card-close-button {
  align-self: center;

  font-size: 18px;

  padding: 10px 20px;
  border-radius: 10px;
}
