.tickets-tab {
  max-width: 100%;

  display: flex;
  align-items: center;

  padding: 10px 0px;
}

.title-input {
  width: 100%;

  border-radius: 10px;
  border: 2px solid #e6e6f0;

  font-size: 18px;
  padding: 10px;

  box-shadow: 0px 10px 10px rgba(124, 137, 247, 0.4);
}
