.button {
  width: fit-content;
  text-align: center;
  font-family: $--worksans-semibold;
  cursor: pointer;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #a55df6, #9b26b0);
  border: none;
  opacity: 0.8;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
  background-image: linear-gradient(to bottom, #800080d2, #8a2be2);
  box-shadow: 0px 14px 34px rgba(124, 137, 247, 0.4);
}
