.input-form-modal {
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  padding: 1.1vh 3.4vw;
}

.input-date-and-time {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;

  margin: 1.6vh 1.1vw;
}

.input-description {
  width: fit-content;

  padding: 0.5vh 0.4vw;

  font-size: 2vh;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);

  border-radius: 5px;
}

.input-data {
  border-radius: 10px;
  border: 2px solid #e6e6f0;

  font-size: 2.2vh;
  opacity: 0.7;

  padding: 1.1vh 0.6vw;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 1.7vh;
  font-weight: 600;

  margin: 1.6vh 1vw;

  padding: 1.2vh 1.5vw;
  border-radius: 10px;
}
