.sidebar-element {
  display: flex;
  align-items: center;
  justify-items: center;

  cursor: pointer;

  white-space: nowrap;

  padding: 2.2vh 4.1vw;
  border-radius: 2vh;

  font-size: 2.3vh;
  font-weight: 800;
  opacity: 0.7;
}

.sidebar-element-active {
  background-color: #e4e9f6;
}
