.sidebar-element {
  cursor: pointer;

  white-space: nowrap;

  padding: 20px 60px;
  border-radius: 20px;

  font-size: 20px;
  font-weight: 700;
}

.sidebar-element-active {
  background-color: #e4e9f6;
}
