.sidebar-element {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  padding: 17px 37.5px;
  border-radius: 20px;
  width: 100%;
}

.sidebar-element-active {
  background-color: #e9edf9;
}

.sidebar-element:hover {
  background-color: #e9edf9;
}
