.event-card {
  width: 100%;
  box-sizing: border-box;

  border: 2px solid #dbdbe7;
  border-radius: 10px;

  padding: 2vh 1.5vw;
}

.edit-button {
  width: fit-content;
  margin-left: auto;
}

.edit-button img {
  height: 100%;
}

.event-card-info {
  padding: 1vh 0vw;
}

.event-card-info h4 {
  font-size: 2vh;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-card-info h3 {
  font-size: 2.5vh;
  font-weight: 700;

  overflow: hidden;
  text-overflow: ellipsis;

  margin-left: 1vh;
}

.event-card-info img {
  height: 3vh;

  padding: 1vh 0vw;
}

.event-card-info-element {
  display: flex;
  align-items: center;
}

.event-card-info-element a {
  color: inherit;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
