.events-list {
  margin-top: 10px;

  width: 100%;
}

.events-list table {
  width: 100%;
  border-collapse: collapse;
}

.events-list tr {
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
}

.events-list tr:hover {
  background-color: #e4e9f6;
}

.events-list img {
  height: 25px;
}

.events-list th {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.4);

  padding: 10px;
}

.events-list td {
  vertical-align: middle;
  text-align: center;

  cursor: pointer;

  border-collapse: collapse;

  font-size: 20px;
  font-weight: 600;

  max-width: 80px;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */

  padding: 15px;
}
