.events-list {
  margin-top: 1.1vh;

  width: 100%;
  height: 100%;
}

.events-list table {
  width: 100%;
  border-collapse: collapse;
}

.events-list tr {
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
}

.events-list tr:hover {
  background-color: #e4e9f6;
}

.events-list img {
  height: 50%;
}

.events-list th {
  font-size: 2vh;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.4);

  padding: 1.1vh 0.7vw;
}

.events-list td {
  vertical-align: middle;
  text-align: center;

  cursor: pointer;

  border-collapse: collapse;

  font-size: 2.3vh;
  font-weight: 600;

  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */

  padding: 1.7vh 1.1vw;
}
