.connect-wallet {
  width: 20vw;

  padding: 1.1vh;

  display: grid;
  place-items: center;
}

.wallets-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;

  padding: 2vh 1vw;

  box-sizing: border-box;
}

.connect-wallet-title {
  font-size: 3vh;
  font-weight: 700;

  justify-self: left;

  margin: 1vh 0.5vw;
}

.connect-wallet-description {
  font-size: 1.7vh;
  font-weight: 650;

  justify-self: left;

  margin: 1vh 0.5vw;
}

.close-button {
  font-size: 1.7vh;
  font-weight: 600;

  border-radius: 1vw;

  padding: 1.2vh 1.5vw;
}
