.connect-wallet {
  background: linear-gradient(135deg, #ffd8e6, #ffffff 35% 65%, #8ed0ff);

  box-shadow: 0px 14px 34px rgba(124, 137, 247, 0.4);
  border-radius: 10px;
  border: 2px solid #dbdbe7;

  padding: 10px;

  display: grid;
  place-items: center;
}

.wallets-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.connect-wallet h2,
.connect-wallet h5 {
  justify-self: left;
  margin: 10px;
}

.close-button {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 60px;
  font-weight: 600;
}
