.header {
  max-width: 100%;
  display: flex;

  border-bottom: 1px solid #e6ecf0;

  padding: 10px 15px;
}

.header img {
  height: 55px;
  padding-left: 40px;
}

.connect-wallet-button {
  font-size: 18px;
  font-weight: 600;

  padding: 17px 37.5px;
  border-radius: 60px;

  margin-left: auto;
}
