.inform-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inform-message h2 {
  margin-top: 3vh;

  font-size: 3vh;

  color: rgba(0, 0, 0, 0.4); /* Adjust the alpha value for transparency */
}

.events-filter {
  width: 100%;

  margin-right: 2.7vw;
}

.create-event-button {
  font-size: 2vh;
  font-weight: 900;

  white-space: nowrap;

  padding: 1.4vh 1.2vw;
  border-radius: 1.1vh;

  margin-left: auto;
}
