.events-page {
  display: grid;
  width: 100%;
  height: 100%;
}

.inform-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inform-message h2 {
  color: rgba(0, 0, 0, 0.4); /* Adjust the alpha value for transparency */
}
