.inform-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inform-message h2 {
  margin-top: 3vh;
  
  font-size: 3vh;

  color: rgba(0, 0, 0, 0.4); /* Adjust the alpha value for transparency */
}
