.tab {
  width: 100%;
  height: 6%;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}

.ticket-page {
  width: 100%;
  height: 94%; /* because tab takes 8% */

  box-sizing: border-box;
}

.ticket-page-title {
  padding: 1vh 0;

  display: flex;
  flex-direction: column;
}

.ticket-page-title h1 {
  font-size: 4vh;
  font-weight: 700;

  width: 20ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ticket-page-title a {
  color: inherit;

  font-size: 3vh;
  font-weight: 700;

  width: 20ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ticket-page-content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
}

.event-info {
  width: 70%;
  height: 50vh;
  box-sizing: border-box;
}

.event-info-left-tab {
  width: 30%;
}

.event-info-image {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  border: 2px solid #dbdbe7;
  border-radius: 10px;
}

.event-info-image img,
.event-info-image svg {
  width: 100%;
  height: 100%;

  border-radius: 8px;
}

.event-info-card {
  padding: 0 0 0 1vw;
}

.event-info-description {
  width: 100%;

  padding: 1vh 0 1vh 0;
}

.buttons {
  padding-left: 1.2vw;
}

.button {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 2vh;
}

.button button {
  width: 100%;

  font-size: 2.6vh;
  font-weight: 600;

  white-space: nowrap;

  padding: 2.5vh 1.2vw;

  border-radius: 1.1vh;
}
